h1{
	font-size: 40px;
	font-family: 'Dela Gothic One', cursive;
	float: left;
}
p{
	text-align: center;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif; 


}
img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	height: 300px;
}

